<div  align="center" class="content">
  <div align="left">
  <p id="notice"><%= notice %></p>
  <h1>it's gonna be called a dashboard dangit</h1>
  <br/>
  <h4>On this page will be all of the things megan wants:</h4>
  <h4>- A pretty pink dragon clawing the main website logo</h4>
  <h4>- A link that pulls up a random card I don't own on a purchasing website</h4>
  <h4>- A link to MTGatherings in my proximity</h4>
  <h6>- More demands to come...</h6>
  <%= text_area :card, :name, :class => "bacon", :placeholder=>"BACON or just text goes here" %>
  <h4>AHhhhhhhhhhh......</h4>

<%= link_to 'Edit', edit_dashboard_path(@dashboard) %> |
<%= link_to 'Back', dashboards_path %>
  </div>
</div>
app/views/layouts/application.html.erb
