h6 {
  color: blue;
  font: "Arial";
}

h4 {
  color: purple;
  font: "Palatino Linotype";
}

.bacon {
  width: 600px;
  height: 50px;
  border: black solid 5px;
}

.content {
  margin: 20px 0 0 90px;
}
